main.home {
	section {
	  align-items: center;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  padding: 0 20px;


	  img {
	  	height: auto;
	  	max-width: 500px;
	  	width: 100%;
	  }
	}

	section.intro {
		background-color: transparent;
		color: $gray-light;
		height: 100vh;

		a {
			display: block;

			&:active,
			&:focus,
			&:hover {
				button {
					border-color: darken($gray-light, 15%);
					color: darken($gray-light, 15%);
				}
			}
		
		}

		button {
			bottom: 30px;
			box-shadow: 1px 1px 2px $gray-darker;
			margin-left: -75px;
			position: absolute;
			text-shadow: 1px 1px 2px $gray-darker;
		}

		ul {
			@include media(769px) {
			  left: 30px;
			  position: absolute;
			  top: 30px;
			}
		}

		h1, h3, p {
			margin: 0;
			text-shadow: 1px 1px 2px $gray-darker;
		}

		li {
			display: inline-block;
			font-size: 80%;
			margin-top: 10px;
			text-align: center;
			width: 60px;

			a {
				color: $gray-medium;

				&:active,
				&:focus,
				&:hover {
				  color: darken($gray-light, 20%);
				}
			}
		}
	}

	section.about {

		height: 50vh;
		max-width: 800px;
		padding: 50px 20px;

		p {
			@include media(769px) {
				font-size: 125%;
			}
		}
	}

	section.latest {
		background-color: transparent;
		color: $gray-light;
		height: 100vh;

		button {
			box-shadow: 1px 1px 2px $blue-darker;
			text-shadow: 1px 1px 2px $blue-darker;
		}

		h2, h3, p {
			margin: 0;
		}

		h2, h3, a, p {
			color: $gray-light;
			max-width: 800px;
			text-shadow: 1px 1px 2px $blue-darker;
		}
	}

	section.contact {
		li {
			display: inline-block;
			text-align: center;
			width: 80px;
		}
	}
}