main.home {
	section {
	  align-items: center;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  padding: 0 20px;

	  img {
	  	height: auto;
	  	max-width: 500px;
	  	width: 100%;
	  }

	  @include media(max-height 650px) {

	  	img {
	  		max-width: 400px;
	  	}
	  }
	}

	section.additional {
		color: $gray-medium;

		button {
			color: $gray-medium;
			border-color: $gray-medium;
		}
	}

	section.intro {
		background-color: transparent;
		color: $gray-light;
		height: 100vh;

		button {
			bottom: 30px;
			box-shadow: 1px 1px 2px $gray-darker;
			margin-left: -47px;
			position: absolute;
			text-shadow: 1px 1px 2px $gray-darker;
			@include media(769px) {
				margin-left: -75px;
			}
		}

		ul {
			@include media(769px) {
			  left: 30px;
			  position: absolute;
			  top: 30px;
			}
		}

		h1, h3, p {
			margin: 0;
			text-shadow: 1px 1px 2px $gray-darker;
		}

		li {
			display: inline-block;
			font-size: 80%;
			margin-top: 10px;
			text-align: center;
			width: 60px;

			a {
				color: $gray-medium;
				text-shadow: 1px 1px 2px $gray-darker;


				&:active,
				&:focus,
				&:hover {
				  color: darken($gray-light, 20%);
				}
			}
		}
	}

	section.latest {
		background-color: transparent;
		color: $gray-light;
		height: 100vh;

		button {
			box-shadow: 1px 1px 2px $blue-darker;
			text-shadow: 1px 1px 2px $blue-darker;
		}

		h2, h3, a, p {
			color: $gray-light;
			max-width: 800px;
			text-shadow: 1px 1px 2px $blue-darker;
		}

		h3 {
			margin: 0;
		}
	}
}