header {
  nav {
    ul {
      color: $gray-medium;
      position: relative;
      height: 40px;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 20px;
    }

    li {
      display: inline-block;
      font-size: 80%;
      margin-top: 10px;
      text-align: center;
      width: 60px;

      a {
        color: $gray-medium;

        &:active,
        &:focus,
        &:hover {
          color: darken($gray-medium, 20%);
        }
      }
    }
  }
}

.page-layout header, .post-layout header, .work-layout header {
  nav {
    ul {
      @include media(796px) {
        left: 0px;
        position: absolute;
        top: 30px;
      }
    }
  }
}

.page-layout header, .post-layout header {
    li {
      a {
        @include media(796px) {
          color: $gray-medium;
          text-shadow: 1px 1px 2px $gray-darker;

          &:active,
          &:focus,
          &:hover {
            color: darken($gray-light, 20%);
          }
        }
      }
    }
  }


.work-layout header {

    li {
      a {
        @include media(796px) {
          color: $gray-light;
          text-shadow: 1px 1px 2px $gray-darker;

          &:active,
          &:focus,
          &:hover {
            color: darken($gray-light, 20%);
          }
        }
      }
    }
  }


footer {

  color: $blue;
  text-align: center;
  height: 80px;
  padding-top: 15px;

  nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;

    li {
      font-size: 80%;
      display: inline-block;
      text-align: center;
      width: 60px;
    }
  }
}