// Typography
$base-font-family: 'PT Sans Caption', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Font Weights
$bold: 700;
$normal: 400; 


// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #3D3A37;
$medium-gray: #5E5A57;
$light-gray: #FFFAF6;

// Palette color codes */
// Palette URL: http://paletton.com/#uid=30p0c0ksiv2fQLVm8AeuPnkBzf5 */

//Base Colors

$orange: #F7751D;
$orange-dark: #BA4F07;
$orange-darker: #783100;
$orange-light: #FF6700; 

$green: #14AC63;
$green-dark: #058145;	
$green-darker: #00542B;
$green-light: #18F48A;

$blue: #177A9B;	// Main Secondary color (2) */
$blue-lightest: #6EB9D2;
$blue-lighter: #3A92AF;
$blue-dark: #085974;
$blue-darker: #02394B;

$gray-light: #FFFAF6;
$gray-medium: #99928E;
$gray-dark: #3D3A37;
$gray-darker: #161819;


//Accent Colors
$yellow: #FFBA00;
$pink: #DB0058;
$brown: #382F29;
$purple: #8506A9;
$cobalt: #2419B2;


// Font Colors
$base-background-color: $gray-light;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
