<nav>
	<h4>Contact</h4>
	<ul>
	    <li>
	      <a href='http://twitter.com/kylepfeeley'>
	        <span class='icon-twitter' data-tooltip='Twitter'></span>
	      </a>
	    </li>
	    <li>
	      <a href='https://github.com/kylepfeeley'>
	        <span class='icon-github' data-tooltip='Github'></span>
	      </a>
	    </li>
	    <li>
	      <a href='https://www.linkedin.com/in/kyle-feeley-30b68b49'>
	        <span class='icon-linkedin' data-tooltip='LinkedIn'></span>
	      </a>
	    </li>
	    <li>
	      <a href='mailto:me@kylepfeeley.com'>
	        <span class='icon-email' data-tooltip='Email'></span>
	      </a>
	    </li>
	  </ul>
	</ul>
</nav>