body {
  background-color: $gray-light;
  color: $gray-medium;

  &:before {
  	content: "";
    background: $orange-light;
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  width: 100%;
  max-width: 1800px;
  width: 100%;
  overflow:hidden;

  h2 {
    margin-top: 0;
  }
}

section.about, section.additional {

  height: 50vh;
  max-width: 800px;
  padding: 50px 20px;

  p {
    // IE 11 Flexbox fix
    max-width: 800px;
    @include media(769px) {
      font-size: 125%;
    }
  }
}