---
layout: home
---

%main.home
	%section.intro.parallax-window(data-parallax="scroll" data-image-src="assets/images/boston-skyline.jpg")
		%h1 Hi, I'm Kyle.
		%h3 UX Designer & Developer
		%p I internet. I internet real good.
		%ul
			%li
				%a(href='/work.html') 
					%span.icon-work(data-tooltip="Portfolio")
			%li
				%a(href='/posts.html')
					%span.icon-pen(data-tooltip="Posts")
			%li
				%a(href='#contact') 
					%span.icon-glasses(data-tooltip="Contact")
		%a(href='#about') 
			%button See More
	%section.about#about
		%p I'm a designer and developer living in Boston. I have been building web and mobile apps for startups for over 6 years. And, designing and developing brands for companies of all sizes for almost 15 years. I think it's vital for UX designers to be proficient in code, so I spend a lot of time expanding my horizons in CSS and JavaScript. I thought about putting some of my other interests here too, but it started to sound like a dating profile. 
	%section.latest(data-parallax="scroll" data-image-src="assets/images/everquote-bg.jpg")
		%h2 Latest Work
		%img(src="assets/images/everquote-desktop-mockup.png")
		%h3
			%a(href='http://everquote.com') EverQuote
		%p Look at this mockup of my website on a computer screen! There are even more of these mockups if you click the button below. There are links to the sites as well – like a proper portfolio or something.
		%a(href='/work.html') 
			%button View Sites
	%nav.contact#contact
		%h4 Contact
		%ul
			%li
				%a(href='http://twitter.com/kylepfeeley')
					%span.icon-twitter(data-tooltip="Twitter")
			%li
				%a(href='https://github.com/kylepfeeley')
					%span.icon-github(data-tooltip="Github")
			%li
				%a(href='https://www.linkedin.com/in/kyle-feeley-30b68b49')
					%span.icon-linkedin(data-tooltip="LinkedIn")
			%li
				%a(href='mailto:me@kylepfeeley.com') 
					%span.icon-email(data-tooltip="Email")


