---
layout: pages
---

%main.post-container
  %h1 Posts
  %ul.posts
  {% for post in site.posts %}
    %li
      %span
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  {% endfor %}
