---
layout: work-layout
---

%main.you-better-work
	%section.site(data-parallax="scroll" data-image-src="assets/images/everquote-bg.jpg")
		%img(src="assets/images/everquote-desktop-mockup.png")
		%h3
			%a(href='http://everquote.com') EverQuote
		%p EverQuote is where I work. I was brought in as the first UX designer and developer. Today, I lead a team of 7 UX folk who oversee the graphics and front-end development for all of our platforms. See details and view more sites below. 
		%a(href='http://everquote.com') 
			%button Go To There
	%section.site(data-parallax="scroll" data-image-src="assets/images/kadota-bg.jpg")
		%img(src="assets/images/kadota-mockup.png")
		%h3
			%a(href='http://kadotaproductions.com') Kadota Productions
		%p A responsive website, brand and logo design for Los Angeles production company.
		%a(href='http://kadotaproductions.com') 
			%button Go To There
	%section.site(data-parallax="scroll" data-image-src="assets/images/signal-theory-bg.jpg")
		%img(src="assets/images/signal-theory-mockup.png")
		%h3
			%a(href='http://signaltheory.com') Signal Theory
		%p A responsive website built for a LA design company.
		%a(href='http://signaltheory.com') 
			%button Go To There
	%section.site(data-parallax="scroll" data-image-src="assets/images/hma-bg.jpg")
		%img(src="assets/images/hma-mockup.png")
		%h3
			%a(href='http://hmafirm.com/') Harder Mirrell & Abrams
		%p Desktop and tablet optimized website built for LA law firm. 
		%a(href='http://hmafirm.com/') 
			%button Go To There
	%section.additional
		%h3 But wait, there's more!
		%p More designs, that is. Right here on my blog.
		%a(href='/posts.html') 
			%button Go To That Blog



